In [1]:
import pandas as pd

In [9]:
df = pd.read_parquet("data/nyc_taxi_2021_01.parquet")
pd.to_datetime(df.tpep_pickup_datetime)
pd.to_datetime(df.tpep_dropoff_datetime)
df.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5,NaN
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5,NaN
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.00,0.3,17.30,0.0,NaN
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2,18.0,3.0,0.5,0.00,0.00,0.3,21.80,2.5,NaN
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4,27.5,0.5,0.5,0.00,0.00,0.3,28.80,0.0,NaN
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1,12.0,3.0,0.5,3.15,0.00,0.3,18.95,2.5,NaN
10,2,2021-01-01 00:15:52,2021-01-01 00:38:07,3.0,6.11,1.0,N,164,255,1,20.5,0.5,0.5,0.00,0.00,0.3,24.30,2.5,NaN
11,2,2021-01-01 00:46:36,2021-01-01 00:53:45,2.0,1.21,1.0,N,255,80,1,7.0,0.5,0.5,2.49,0.00,0.3,10.79,0.0,NaN
12,1,2021-01-01 00:10:46,2021-01-01 00:32:58,2.0,7.40,1.0,N,138,166,2,24.5,2.5,0.5,0.00,6.12,0.3,33.92,0.0,NaN
13,2,2021-01-01 00:31:06,2021-01-01 00:38:52,5.0,1.70,1.0,N,142,50,1,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5,NaN
14,2,2021-01-01 00:42:11,2021-01-01 00:44:24,5.0,0.81,1.0,N,50,142,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5,NaN
15,2,2021-01-01 00:17:48,2021-01-01 00:21:55,1.0,1.01,1.0,N,236,237,1,5.5,0.5,0.5,1.00,0.00,0.3,10.30,2.5,NaN
16,2,2021-01-01 00:33:38,2021-01-01 00:38:37,1.0,0.73,1.0,N,142,239,1,5.5,0.5,0.5,2.79,0.00,0.3,12.09,2.5,NaN
17,2,2021-01-01 00:47:56,2021-01-01 00:52:53,1.0,1.17,1.0,N,238,166,1,6.5,0.5,0.5,2.06,0.00,0.3,12.36,2.5,NaN
18,2,2021-01-01 00:04:21,2021-01-01 00:07:58,1.0,0.78,1.0,N,239,238,1,4.5,0.5,0.5,1.66,0.00,0.3,9.96,2.5,NaN
19,2,2021-01-01 00:18:36,2021-01-01 00:27:10,2.0,1.66,1.0,N,151,142,2,8.5,0.5,0.5,0.00,0.00,0.3,12.30,2.5,NaN

In [10]:
df.shape

(1369769, 19)

In [3]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [5]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 435.7 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/1.2 MB 651.6 kB/s eta 0:00:02
   ------- -------------------------------- 0.2/1.2 MB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 0.4/1.2 MB 1.8 MB/s eta 0:00:01
   ------------------- -------------------- 0.6/1.2 MB 2.3 MB/s eta 0:00:01
   -------------------------- ------------- 0.8/1.2 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 1.0/1.2 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 2.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [6]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
engine.connect()

In [11]:
df.head(n=0).to_sql(con=engine,name='yellow_taxi_data',if_exists='replace')

0

In [12]:
%time df.to_sql(con=engine,name='yellow_taxi_data',if_exists='append')

CPU times: total: 2min 11s
Wall time: 4min 59s

769